name: h2o

on:
  schedule:
    - cron: "55 3 * * 6"  # At 03:55 on Saturday.
  push:
    branches:
      - master
    paths:
      - .github/workflows/h2o.yml
      - h2o/*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: akorn
          password: ${{ secrets.docker_password }}
      - run: sh ./h2o/update.sh
