name: lua

on:
  schedule:
    - cron: "10 4 * * 6"  # At 04:10 on Saturday.
  push:
    branches:
      - master
    paths:
      - .github/workflows/lua.yml
      - lua/*
      - luajit/*
      - luarocks/*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - run: |
          pip install -U wheezy.template
          python generate.py
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: akorn
          password: ${{ secrets.docker_password }}
      - run: |
          sh ./lua/update.sh
          sh ./luajit/update.sh
          sh ./luarocks/update.sh
          docker images
