name: node

on:
  schedule:
    - cron: "15 3 * * 6"  # At 03:15 on Saturday.
  push:
    branches:
      - master
    paths:
      - .github/workflows/node.yml
      - node/*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: akorn
          password: ${{ secrets.docker_password }}
      - run: sh ./node/update.sh
