name: postgres

on:
  schedule:
    - cron: "25 3 * * 6"  # At 03:25 on Saturday.
  push:
    branches:
      - master
    paths:
      - .github/workflows/postgres.yml
      - postgres/*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            network=host
      - uses: docker/login-action@v3
        with:
          username: akorn
          password: ${{ secrets.docker_password }}
      - run: sh ./postgres/update.sh
